/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-button {
  border-color: #111;
  border: 1px solid #cdcdcd;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  letter-spacing: -0.4px;
  width: 100%;
  cursor: pointer;
  background: #111;
  color: #fff !important;
  margin-top: 28px;
}

#info-header {
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 1.5;
  margin: 21px 0 0;
  text-align: center;
}
.input-group {
  margin-top: 8px;
  position: relative;
}
.form-control {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  margin-top: 8px;
  padding: 10px 73px 10px 16px;
  width: 100%;
}

.additional-links {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 28px auto 0;
  width: 200px;

  a {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 1.62;
    text-decoration: underline;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
  }
}

.division p:before {
  background-color: rgba(0, 0, 0, 0.1);
  content: '';
  display: inline-block;
  height: 1px;
  width: 100%;
}

.division p {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  letter-spacing: -0.4px;
  line-height: 1.57;
  line-height: 0;
  margin-top: 36px;
  text-align: center;
}
#social-form {
  .sicial-btn-group {
    margin-top: 32px;
    .sicial-btn {
      width: 250px;
      height: 40px;
      background-color: transparent;
      border: 0;
      color: #111;
      cursor: pointer;
      .ico-kakao {
        background-image: url(../../images/kakao_login/ko/kakao_login_large_narrow.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: inline-block;
        font-style: normal;
        height: 100%;
        width: 100%;
      }
      .ico-naver {
        background-image: url(../../images/2021_Login_with_naver_guidelines_Kr/btnG_완성형.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: inline-block;
        font-style: normal;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.login-options {
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 12px;
  a {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 1.62;
    margin-left: auto;
    text-decoration: underline;
  }
}
