/* 1. 기본 스타일(리셋/기본 설정) */
@import url('./base/reset.css'); /* CSS 리셋 */
@import url('./base/global.css'); /* 전역 스타일 설정 */

/* 2. 유틸리티 스타일 */
@import url('./utils/colors.css'); /* 색상 팔레트 */

/* 3. 레이아웃 스타일 */
@import url('./layouts/Header.css'); /* 헤더 스타일 */
@import url('./layouts/Main.css'); /* 메인 스타일 */
@import url('./layouts/Footer.css'); /* 푸터 스타일 */

/* 4. 페이지별 스타일 */
@import url('./pages/Login.css'); /* 홈 페이지 스타일 */
@import url('./pages/Join.css'); /* 홈 페이지 스타일 */

/* 5. 최종 스타일 조정 */
* {
  font-family: Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕,
    Dotum, 돋움, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  letter-spacing: 1px;
  text-align: center;

  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;

  word-wrap: break-word;
  direction: ltr;
  word-break: keep-all;
}

#wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.error-message {
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #ff0101;
}
