@charset "EUC-KR";

.signup-form {
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	width: 400px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.signup-form .form-control {
	margin-bottom: 1rem;
}
.signup-form .btn {
	width: 100%;
}