@charset "EUC-KR";
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f9fa;
}

.login-form {
	background-color: #ffffff;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.login-form .form-control {
	margin-bottom: 1rem;
}

.login-form .btn {
	width: 100%;
}